// .home-page {
//     background: url("/images/wallpaper.webp") center/cover no-repeat;
// }
// .home-page header,
// .home-page .hero-info,
// .home-page .home.project .hero .description {
//   color: white
// }
.home.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .hero img,
.hero-image {
  border-radius: 20em;
}
iframe.contact-form {
  height: 50em;
}
iframe.newsletter-embed {
    width: 90%;
    height: 17.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    border-radius: 8px;
}

.theme-container.has-toc .page {
    padding-right: 0;
}

article {
    margin-bottom: 5em;
}
.image-cropped-wrapper {
  overflow: hidden;
}
.image-cropped-wrapper img,
.theme-hope-content img {
  width: 100%;
}